---
import Base from "../layouts/Base.astro";
---
<Base title="Page not found">
  <h1>404 &mdash; Page not found</h1>
  <p>That page doesn't exist.</p>
  <p><a href="/">&larr; Back home</a></p>
</Base>
