---
import Base from "../layouts/Base.astro";
---
<Base title="Contact" description="Get in touch.">
  <h1>Contact</h1>
  <p>Reach me on <a rel="me" href="https://github.com/i-robert2">GitHub</a>.</p>
  <p><a href="/">&larr; Home</a></p>
</Base>
